@model SignInWm

@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1>Login Page</h1>
</div>


<form asp-action="/" method="post" class="row">
    <div class="col-12 col-md-6 offset-3">
        <input class="form-control" placeholder="login" asp-for="UserName"/>
    </div>
    <div class="col-12 col-md-6 offset-3">
        <button class="btn btn-success w-100">Login</button>
    </div>
</form>

